@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "store";
  src: url("./assets/store-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
